<div class="content" [style.color]="getColor()">
  <section class="ng-content">
    <span class="intro">> Hi! 👋</span>
    <p>I'm a software engineering student who love web developement and enjoy creating things that live on the internet,
      whether that be websites or
      applications.</p>
    <p>I'm currently interested in Typescript, Angular and Python (Flask) and the technologies of their ecosystem !</p>

  </section>

  <section class="tech-stack">
    <span>> Tech Stack</span>
    <div class="techs">

      <div class="front-back">
        <div class="tech">
          <span class="tech-name">Frontend Technologies:</span>
          <div>
            <img src="https://img.icons8.com/color/100/000000/angularjs.png" />
            <img src="https://img.icons8.com/color/100/000000/typescript.png" />
          </div>
        </div>
        <div class="tech">
          <span class="tech-name">Backend Technologies:</span>
          <div>
            <img src="https://img.icons8.com/color/100/000000/python.png" />
            <img src="https://img.icons8.com/color/100/000000/java-coffee-cup-logo.png" />
            <img src="https://img.icons8.com/color/100/000000/spring-logo.png" />
          </div>
        </div>
      </div>

      <div class="other">
        <div class="tech">
          <span class="tech-name">Databases:</span>
          <div>
            <img src="https://img.icons8.com/fluent/100/000000/mysql-logo.png" />
            <img src="https://img.icons8.com/color/100/000000/mongodb.png" />
          </div>
        </div>

        <div class="tech">
          <span class="tech-name">Other technologies:</span>
          <div>
            <img src="https://img.icons8.com/ios-filled/100/000000/github.png" />
            <img src="https://img.icons8.com/color/100/000000/docker.png" />
          </div>
        </div>

      </div>

    </div>
  </section>
</div>
