@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 3em;
  max-width: 1600px;
}

.card {
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;

  .card-img {
    border-radius: 10px;
    margin: 0 auto;
    width: 90%;
    max-width: 450px;
  }

  .card-info {
    margin: 0 auto;
    max-width: 450px;
    padding: 2em 2em;

    .card-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;

      a {
        margin-right: 2em;
      }
    }

    p {
      font-family: "Poppins", sans-serif;
    }

    .technologies {
      margin-top: 2em;
    }
  }
}

@media (min-width: 956px) {
  .card-inverse {
    .card-img {
      order: 2;
    }
    .card-info {
      order: 1;
    }
  }
}
