@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.content {
  display: flex;
  justify-content: center;
}



.main-img{
  height: 220px;
}

.card {
  margin: 2em 2em;
  max-width: 400px;
  height: 400px;
}


