.content {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
  max-width: 1600px;
  margin: 0 auto;
}

.project-img {
  height: 220px;
}

.card {
  margin: 2em 2em;
  width: 400px;
  min-height: 400px;
}

a {
  margin-left: 0.75em;
}

@media screen and (max-width: 500px) {
  .card {
    width: 90%;
  }
}
